@model Enumerable<TrabalhoCidade.Models.Produto>;
<link href="~/css/produtoindex.css" rel="stylesheet" />


<div class="row">
    <div class="col">
            <a class="btn btn-primary botao" asp-controller="Produto" asp-action="CadastroProduto">Cadastra um Produto</a>
    </div>
    <div class="col d-flex justify-content-end">
            <a class="btn btn-info botao" asp-controller="Cliente" asp-action="Index">Menu Cliente</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    <button class="btn btn-warning botao">@Html.ActionLink("Editar", "EditarProduto", new { id = item.CodProd })</button>

                    <button class="btn btn-danger botao">@Html.ActionLink("Excluir", "ExcluirProduto", new { id = item.CodProd }, new { onclick = "return confirm('Deseja realmente Excluir este item?');" })</button>


                    
                </td>
            </tr>
        }
    </tbody>
</table>